@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');


html,
body {
  background-color: rgb(237, 237, 237);
  padding: 0;
  margin: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;

  overflow-x: hidden;

  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
