@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');


html,
body {
  background-color: rgb(249, 249, 249);
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;

  overflow-x: hidden;

  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
