

.header{

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;

  margin: 10px 0px;


  .logo{
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
  }

  h1{
    font-size: 10vh;
    margin: 0;
    color: #737373;
  }

}

.introdemo{
  height: 65vh;
  width: 80vw;
  margin: 5vh 10vw;
  display: grid;
  place-items: center;
  background-color: rgb(255, 255, 255);
}

.infobloc{
  width: 80vw;
  margin: 5vh 10vw;
  background-color: rgb(255, 255, 255);

  h2{
    color: #6495ED;
    padding: 20px;
  }


  .paragraph{

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .logo{
      position: relative;
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
    p{
      color: black;
      margin: 10px 20px;
    }
  }

}